[submodule "multiplatform-calendar"]
	path = multiplatform-calendar
	url = git@github.com:Infomaniak/multiplatform-calendar.git
[submodule "Core"]
	path = Core
	url = git@github.com:Infomaniak/android-core.git
