<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calendar">

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://afcc80384a2911f1a5c6de3982f677f1@sentry-mobile.infomaniak.com/25" />

        <activity
            android:name="MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Calendar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.infomaniak.lib.login.WebViewLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LoginWebViewTheme" />

        <activity
            android:name="com.infomaniak.lib.login.WebViewCreateAccountActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LoginWebViewTheme" />
    </application>
</manifest>
